@import  '_variables';
@import '{reywood:bootstrap3-sass}/bootstrap';
.layout {
	.navbar {
		.navbar-brand {
			.logo {
				height: 100%;
			}
			padding: 0px;
		}

		margin-bottom: 0px;
	}
	
}

.page {
	img {
		max-width: 100%;
	}

	.main-navigation {
		height: 40px;
		background-color: black;
		color: white;

	}

	header {
		overflow: hidden;
		
		.carousel {

			height: 480px;
			overflow: hidden;
			.slide {
				
				background-size: cover;
				background-position: center;
				height: 480px;
			}
		}

		.title {
			position: absolute;
			z-index: 10;
			color: white;
		}
	}
	
}

.slick {
	margin: 0;
	padding: 0;
}

.slick-prev:before, .slick-next:before {
	color:    silver;
}